**/__pycache__
**/*.py[cod]
**/.ipynb_checkpoints

*.tar*

**/.RData
**/.Rhistory
**/*.Rproj*
.Rproj.user

**/node_modules/


paper/*
!/paper/main.tex
!/paper/references.bib
!/paper/main.xmpdata
!/paper/VoronoiAlpha.pdf
!/paper/Figures/*
